.rhap_container {
  background-color: transparent;
  box-shadow: none;
}

.rhap_controls-section {
  width: 68%;
}

.rhap_volume-container {
  flex: 2;
}

.player {
  display:flex;
  width: 100%;
  align-items: center;
}
